<main>
  <h1>user details</h1>
  <div>
    <p>Id: {{Id}}</p>
    <p>Useranme: {{Username}}</p>
    <p>First Name: {{First_Name}}</p>
    <p>Last Name: {{Last_Name}}</p>
    <p>Profession: {{Profession}}</p>
    <p>Bio: {{Bio}}</p>
  </div>
</main>
<footer>
  <a href="{{logoutLink}}"> logout </a>
</footer>